<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="listener.ExtentITestListenerClassAdapter" />
	</listeners>
	<test name="HomePageTests">
		<classes>
			<class name="com.ebay.homepage.TestsOnHomepage" />
		</classes>
	</test>
	<test name="LoginPageTests">
		<classes>
			<class name="com.ebay.homepage.TestsOnLoginPage" />
		</classes>
	</test>
</suite> 
